<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>QTPMIDIPlugin</string>
    <key>CFBundleIdentifier</key>
    <string>local.quicktimeplayerplus.midi</string>
    <key>CFBundleName</key>
    <string>QTP MIDI Plugin</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>QTPPluginDescription</key>
    <string>Renders Standard MIDI files to temporary Core Audio files and opens them in the normal QuickTime playback window.</string>
    <key>QTPPluginSupportedExtensions</key>
    <array>
        <string>mid</string>
        <string>midi</string>
    </array>
</dict>
</plist>
